<font size = 5><b> Variables: </b><font>

In [17]:
x = 1
x

1

In [18]:
x

1

In [19]:
x,y = 1,2
x,y

(1, 2)

<font size = 5><b> Data types: </b><font>

In [20]:
x = 34 #integer
y = 34.0 #float
z = True #boolean
str1 = 'Moad'#string
str2 = "Moad" #string

In [21]:
print(type(x),type(y),type(z),type(12),type(12.0),type("True"),type(True),type(str1),type(str2))

<class 'int'> <class 'float'> <class 'bool'> <class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'str'> <class 'str'>

In [22]:
print(float(x),int(y))

34.0 34

In [23]:
str1

'Moad'

In [24]:
print(str1)

Moad

In [25]:
print('I\'m hungry') #the backslash here is called an escape character

I'm hungry

In [26]:
print("Press \"Enter\"") #the backslash here is called an escape character

Press "Enter"

In [27]:
print("Red","Car") #using a trailig comma ; it automatically puts a space between the strings

Red Car

In [28]:
x = "Moad"
y = "Good"

print("This {} is very {} !".format(x,y))

This Moad is very Good !

<font size = 5><b> Operators:</b><font>

In [29]:
3 + 5

8

In [30]:
3 - 6

-3

In [31]:
x = 16 / 5
y = 16 // 5
z = 16 % 5
x,y,z

(3.2, 3, 1)

In [32]:
x = 5 * 3
y = 5 ** 3
x,y

(15, 125)

In [33]:
x = (49 == 7 ** 2)
y = (49 != 7 ** 2)
x,y

(True, False)

In [34]:
12 * 2 
+ 6

6

In [35]:
12 * 2 \
+ 6

30

In [36]:
x = 5 > 3 and 5 > 2 
y = True or not False #logical operators (vs identity operators such as is or is not == or !=)
x, y

(True, True)

In [37]:
False and False #and checks wether the two statements around it are true

False

In [38]:
False and True

False

In [39]:
False or False #or checks if at least one of the statements is true

False

In [40]:
False or True

True

In [41]:
not True, not False

(False, True)

In [42]:
False or not True and not False

False

In [43]:
True and not False and True or not False

True

<font size=5><b> Conditional statements: </b><font>

In [45]:
liquid = int(input("Please input the volume of the liquid you want to store in meters cubed."))
x,y,z = input("Please input the dimensions of your recipient in the following order\
lenght, width then height in meters.").split("/")
recipient = int(x)*int(y)*int(z)

if recipient == liquid:
    print("The recipient has the exact volume.")
if recipient < liquid:
    print("The recipient doesn't have enough volume.")
if recipient > liquid:
    print("The recipient has enough volume.")

Please input the volume of the liquid you want to store in meters cubed.45
Please input the dimensions of your recipient in the following orderlenght, width then height in meters.3/5/3
The recipient has the exact volume.

<font size=5><b> Functions: </b><font>

In [46]:
def my_function(x,y):
    result = x + y
    return result

my_function(5,6)

11

In [47]:
#notable built-in functions

x = min(13,43,4)
y = max(13,43,4)
z = abs(-100)
a = 3 ** 2
b = len("Elephant")

<font size=5><b> Lists & Methods: </b><font>

In [48]:
team = ['Didier', 'Kylian', 'Karim', 'Antoine']
team

['Didier', 'Kylian', 'Karim', 'Antoine']

In [49]:
#other ways to create a list

l1 = [*range(10)]
l2 = [i for i in range (10)]
l3 = list(range(10))
l4 = list(range(0,10,2))

l1,l2,l3, l4

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8])

In [50]:
#list comprehension

even_numbers = [i for i in range(10) if i%2 == 0]
even_numbers

[0, 2, 4, 6, 8]

In [51]:
team[3], team[-1], team[-3]

('Antoine', 'Antoine', 'Kylian')

In [52]:
team = ['Didier', 'Kylian', 'Karim', 'Antoine']
team.pop(1)
team

['Didier', 'Karim', 'Antoine']

In [53]:
team = ['Didier', 'Kylian', 'Karim', 'Antoine']
del(team[1])
team

['Didier', 'Karim', 'Antoine']

In [54]:
team = ['Didier', 'Kylian', 'Karim', 'Antoine']
team[1] = 'Paul'
team

['Didier', 'Paul', 'Karim', 'Antoine']

In [55]:
team.index('Karim')

2

In [56]:
tickers  = ['AAPL', 'MSFT', 'LOGN', 'LIGHT']
sec = ['US EQUITY', 'US EQUITY', 'US EQUITY', 'US EQUITY']

for i,j in zip(tickers,sec):
    print(i,j)

AAPL US EQUITY
MSFT US EQUITY
LOGN US EQUITY
LIGHT US EQUITY

In [57]:
#enumerate: returns the index of the list and the list elements

names = [('name' + str(i)) for i in range(10)]

for i,name in enumerate(names,start = 1):
    print(i,name)

1 name0
2 name1
3 name2
4 name3
5 name4
6 name5
7 name6
8 name7
9 name8
10 name9

In [58]:
team

['Didier', 'Paul', 'Karim', 'Antoine']

In [59]:
team.append('Ziad')
team

['Didier', 'Paul', 'Karim', 'Antoine', 'Ziad']

In [60]:
team.extend(['Nour', 'Sanaa', 'Elhassan'])
team

['Didier', 'Paul', 'Karim', 'Antoine', 'Ziad', 'Nour', 'Sanaa', 'Elhassan']

In [61]:
team[-4:]

['Ziad', 'Nour', 'Sanaa', 'Elhassan']

In [62]:
test_list = ['Memb 1', 'Memb 2', 'Memb 3']
big_list = [team, test_list]
big_list

[['Didier', 'Paul', 'Karim', 'Antoine', 'Ziad', 'Nour', 'Sanaa', 'Elhassan'],
 ['Memb 1', 'Memb 2', 'Memb 3']]

In [63]:
team.sort() #by default it sorts it from A to Z
team

['Antoine', 'Didier', 'Elhassan', 'Karim', 'Nour', 'Paul', 'Sanaa', 'Ziad']

In [64]:
team.sort(reverse = True)
team

['Ziad', 'Sanaa', 'Paul', 'Nour', 'Karim', 'Elhassan', 'Didier', 'Antoine']

In [65]:
#sorting the strings of a list by the last letter of each element

lst = ['Moad', 'Ziad', 'Nour', 'Sanaa', 'Elhassan']
lst.sort()
lst

['Elhassan', 'Moad', 'Nour', 'Sanaa', 'Ziad']

In [66]:
lst.sort(key= lambda ele: ele[-1])
lst

['Sanaa', 'Moad', 'Ziad', 'Elhassan', 'Nour']

In [67]:
lst = 'Work hard, play hard'.split(' ')
lst

['Work', 'hard,', 'play', 'hard']

In [68]:
#dir function to know all the available methods

dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

<font size=5><b> Tuples: </b><font>

In [69]:
x = (13, 4, 1997)
x, y, z = 13, 4, 1997 #a tuple of integers assigned to the tuple (x,y,z)

In [70]:
a, b = 'Je vais être le meilleur, crois moi!'.split(',') #define a separator when using split
a, b

('Je vais être le meilleur', ' crois moi!')

<font size = 5><b> Dictionaries: </b><font>

In [71]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu['meal_3'] #to access a value in a dictionary you must use its key

'Hamburger'

In [72]:
Menu['meal_5'] = 'Pizza' #to add a new entry in the dictionary you must use the key again
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Pizza'}

In [73]:
Menu['meal_4'] = 'Risotto'
Menu #to replace a value in the dictionary tou must use the key again

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Risotto',
 'meal_5': 'Pizza'}

In [74]:
dct = {'Apple':'Long','Solutions 30':'Short', 'Tesla':'Long', 'Logitech':'Long'}
for i in dct.items():
    print(i)

('Apple', 'Long')
('Solutions 30', 'Short')
('Tesla', 'Long')
('Logitech', 'Long')

In [75]:
dct = {'Apple':'Long','Solutions 30':'Short', 'Tesla':'Long', 'Logitech':'Long'}
for i in dct.keys():
    print(i)

Apple
Solutions 30
Tesla
Logitech

In [76]:
dct = {'Apple':'Long','Solutions 30':'Short', 'Tesla':'Long', 'Logitech':'Long'}
for i in dct.values():
    print(i)

Long
Short
Long
Long

In [77]:
dct.get('Tesla')

'Long'

<font size = 5><b> Loops: </b><font>

In [78]:
lst = [*range(10)]
for i in lst:
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [79]:
i = 0
while i <= 30:
    if i % 2 != 0:
        print(i, end=" ")
    i += 1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

<font size = 5><b> Object oriented programming: </b><font>

In [80]:
#class -> object (instance) -> attributes (properties) ; methods
#eg. : python list class

#module : code defining variables, functions and classes
#package/library : collection or directory of related modules
#help(module)

In [81]:
pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /opt/anaconda3/lib/python3.8/site-packages (0.9.0)
Requirement already satisfied: pandas>=0.23 in /opt/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (1.1.3)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (4.6.1)
Requirement already satisfied: requests>=2.19.0 in /opt/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (2.24.0)
Requirement already satisfied: numpy>=1.15.4 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [82]:
pip install quandl

Requirement already satisfied: quandl in /opt/anaconda3/lib/python3.8/site-packages (3.6.1)
Requirement already satisfied: inflection>=0.3.1 in /opt/anaconda3/lib/python3.8/site-packages (from quandl) (0.5.1)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from quandl) (1.15.0)
Requirement already satisfied: requests>=2.7.0 in /opt/anaconda3/lib/python3.8/site-packages (from quandl) (2.24.0)
Requirement already satisfied: numpy>=1.8 in /opt/anaconda3/lib/python3.8/site-packages (from quandl) (1.19.2)
Requirement already satisfied: pandas>=0.14 in /opt/anaconda3/lib/python3.8/site-packages (from quandl) (1.1.3)
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.8/site-packages (from quandl) (2.8.1)
Requirement already satisfied: more-itertools in /opt/anaconda3/lib/python3.8/site-packages (from quandl) (8.6.0)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.7.0->quandl) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.7.0->quandl) (2020.6.20)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.14->quandl) (2020.1)
Note: you may need to restart the kernel to use updated packages.

In [83]:
#fundamental libraries

import math as m
import numpy as np #working with multidimensional arrays
import matplotlib as plt #2D plotting lib for visualization of numpy computations
import pandas as pd #reorganizing data in a tabular form & attach descriptive labels (timeseries & huge data bases)
import pandas_datareader
from pandas_datareader import data as wb
import quandl
import random as rd #random number generators
import statsmodels as stats #descriptive statistics, plotting & regressions

<font size = 5><b> Arrays: </b><font>

In [84]:
#all the constituents of an array must be of the same type and homogeneous

arr = np.array([list(range(5)),list(range(5,10)),list(range(11,16))])
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [11, 12, 13, 14, 15]])

In [85]:
arr.shape

(3, 5)

In [86]:
arr[1,2]

7

In [87]:
arr[1,2] = 7**2
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6, 49,  8,  9],
       [11, 12, 13, 14, 15]])

In [88]:
arr[1]

array([ 5,  6, 49,  8,  9])

<font size = 5><b> Random: </b><font>

In [89]:
rdm1 = rd.random()
rdm2 = rd.randint(1,4)
rdm1, rdm2

(0.05388414966059196, 2)

In [90]:
rd_array = np.random.randint(1,5,(4,6))
rd_array

array([[1, 4, 2, 1, 3, 2],
       [4, 2, 1, 2, 2, 4],
       [3, 1, 1, 4, 2, 2],
       [1, 2, 4, 1, 1, 3]])

<font size = 5><b> Financial data: </b><font>

In [91]:
ser = pd.Series(np.random.random(5), name = 'Column 01') #data series
df = wb.DataReader('PG', data_source = 'yahoo', start = '2019-12-31') #data frame

In [92]:
ser

0    0.390587
1    0.156416
2    0.300846
3    0.017264
4    0.906237
Name: Column 01, dtype: float64

In [93]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-31,124.989998,123.949997,124.430000,124.900002,4798900.0,120.388504
2020-01-02,124.730003,122.940002,124.500000,123.410004,8130800.0,118.952316
2020-01-03,123.529999,121.860001,122.160004,122.580002,7970500.0,118.152298
2020-01-06,123.190002,122.379997,122.570000,122.750000,6674400.0,118.316154
2020-01-07,123.209999,121.870003,122.879997,121.989998,7583400.0,117.583603
...,...,...,...,...,...,...
2021-04-19,137.080002,135.389999,136.940002,136.610001,9149400.0,135.741531
2021-04-20,138.589996,133.529999,134.839996,137.750000,10040500.0,136.874283
2021-04-21,138.570007,136.600006,137.889999,136.850006,8465900.0,135.980011
2021-04-22,135.789993,134.059998,135.369995,134.630005,7338300.0,134.630005
2021-04-23,135.080002,133.250000,134.929993,133.940002,6708300.0,133.940002

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 331 entries, 2019-12-31 to 2021-04-23
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       331 non-null    float64
 1   Low        331 non-null    float64
 2   Open       331 non-null    float64
 3   Close      331 non-null    float64
 4   Volume     331 non-null    float64
 5   Adj Close  331 non-null    float64
dtypes: float64(6)
memory usage: 18.1 KB

In [95]:
df.head(5)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-31,124.989998,123.949997,124.430000,124.900002,4798900.0,120.388504
2020-01-02,124.730003,122.940002,124.500000,123.410004,8130800.0,118.952316
2020-01-03,123.529999,121.860001,122.160004,122.580002,7970500.0,118.152298
2020-01-06,123.190002,122.379997,122.570000,122.750000,6674400.0,118.316154
2020-01-07,123.209999,121.870003,122.879997,121.989998,7583400.0,117.583603

In [96]:
df.tail(5)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-04-19,137.080002,135.389999,136.940002,136.610001,9149400.0,135.741531
2021-04-20,138.589996,133.529999,134.839996,137.750000,10040500.0,136.874283
2021-04-21,138.570007,136.600006,137.889999,136.850006,8465900.0,135.980011
2021-04-22,135.789993,134.059998,135.369995,134.630005,7338300.0,134.630005
2021-04-23,135.080002,133.250000,134.929993,133.940002,6708300.0,133.940002

In [97]:
tickers = ['AAPL', 'MSFT', 'AMZN', 'GOOG', 'FB']
daily_close_prices = pd.DataFrame()

for t in tickers:
    daily_close_prices[t] = wb.DataReader(t, data_source = 'yahoo', start = '2017-12-29')['Adj Close']
    
daily_close_prices

                  AAPL        MSFT         AMZN         GOOG          FB
Date
2017-12-29   40.652374   81.802261  1169.469971  1046.400024  176.460007
2018-01-02   41.380238   82.194328  1189.010010  1065.000000  181.419998
2018-01-03   41.373032   82.576843  1204.199951  1082.479980  184.669998
2018-01-04   41.565216   83.303658  1209.589966  1086.400024  184.330002
2018-01-05   42.038452   84.336464  1229.140015  1102.229980  186.850006
...                ...         ...          ...          ...         ...
2021-04-19  134.839996  258.739990  3372.010010  2302.399902  302.239990
2021-04-20  133.110001  258.260010  3334.689941  2293.629883  302.649994
2021-04-21  133.500000  260.579987  3362.020020  2293.290039  301.470001
2021-04-22  131.940002  257.170013  3309.040039  2267.919922  296.519989
2021-04-23  134.320007  261.149994  3340.879883  2315.300049  301.130005

[834 rows x 5 columns]

In [98]:
data_01 = quandl.get('FRED/GDP')
data_01.to_csv('/Users/moaderrafay/Documents/Divers/Career/My python journey/Python for Finance - Notebook Files/57 Importing Data - Part III/CSV/Python 3 CSV/Data_01.csv')

In [99]:
data_02 = pd.read_csv('/Users/moaderrafay/Documents/Divers/Career/My python journey/Python for Finance - Notebook Files/57 Importing Data - Part III/CSV/Python 3 CSV/Data_02.csv', index_col = 'Date')
data_02

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2017-03-03,136.63,137.3300,136.08,137.1300,11095605.0,0.0,1.0,136.63,137.3300,136.08,137.1300,11095605.0
2017-03-02,137.09,137.8200,136.31,136.7603,12243028.0,0.0,1.0,137.09,137.8200,136.31,136.7603,12243028.0
2017-03-01,136.47,137.4800,136.30,137.4200,16257010.0,0.0,1.0,136.47,137.4800,136.30,137.4200,16257010.0
2017-02-28,136.79,136.8050,134.75,135.5400,16112092.0,0.0,1.0,136.79,136.8050,134.75,135.5400,16112092.0
2017-02-27,135.26,137.1846,135.02,136.4100,14306668.0,0.0,1.0,135.26,137.1846,135.02,136.4100,14306668.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2012-05-24,32.95,33.2100,31.77,33.0300,50237200.0,0.0,1.0,32.95,33.2100,31.77,33.0300,50237200.0
2012-05-23,31.37,32.5000,31.36,32.0000,73600000.0,0.0,1.0,31.37,32.5000,31.36,32.0000,73600000.0
2012-05-22,32.61,33.5900,30.94,31.0000,101786600.0,0.0,1.0,32.61,33.5900,30.94,31.0000,101786600.0
2012-05-21,36.53,36.6600,33.00,34.0300,168192700.0,0.0,1.0,36.53,36.6600,33.00,34.0300,168192700.0
2012-05-18,42.05,45.0000,38.00,38.2318,573576400.0,0.0,1.0,42.05,45.0000,38.00,38.2318,573576400.0

In [100]:
data_03 = pd.read_excel('/Users/moaderrafay/Documents/Divers/Career/My python journey/Python for Finance - Notebook Files/57 Importing Data - Part III/CSV/Python 3 CSV/Data_03.xlsx')
data_03

    Year     Gas Exp     Pop        Gasp  Income
0   1953    7.400000  159565   16.667999    8883
1   1954    7.800000  162391   17.028999    8685
2   1955    8.600000  165275   17.209999    9137
3   1956    9.400000  168221   17.729000    9436
4   1957   10.200000  171274   18.497000    9534
5   1958   10.600000  174141   18.316000    9343
6   1959   11.300000  177130   18.576000    9738
7   1960   12.000000  180760   19.112000    9770
8   1961   12.000000  183742   18.924000    9843
9   1962   12.600000  186590   19.042999   10226
10  1963   13.000000  189300   18.997000   10398
11  1964   13.600000  191927   18.872999   11051
12  1965   14.800000  194347   19.587000   11430
13  1966   16.000000  196599   20.038000   11981
14  1967   17.100000  198752   20.700001   12418
15  1968   18.600000  200745   21.004999   12932
16  1969   20.500000  202736   21.695999   13060
17  1970   21.900000  205089   21.889999   13567
18  1971   23.200001  207692   22.049999   14008
19  1972   24.400000  209924   22.336000   14270
20  1973   28.100000  211939   24.473000   15309
21  1974   36.099998  213898   33.058998   15074
22  1975   39.700001  215981   35.278000   15555
23  1976   43.000000  218086   36.777000   15693
24  1977   46.900002  220289   38.907001   15991
25  1978   50.099998  222629   40.597000   16674
26  1979   66.199997  225106   54.405998   16843
27  1980   86.699997  227726   75.509003   16711
28  1981   97.900002  230008   84.017998   17046
29  1982   94.099998  232218   79.767998   17429
30  1983   93.099998  234333   77.160004   17659
31  1984   94.599998  236394   76.004997   18922
32  1985   97.199997  238506   76.619003   19622
33  1986   80.099998  240683   60.174999   19944
34  1987   85.400002  242843   62.487999   19802
35  1988   88.300003  245061   63.016998   20682
36  1989   98.599998  247387   68.836998   21048
37  1990  111.199997  250181   78.385002   21379
38  1991  108.500000  253530   77.337997   21129
39  1992  112.400002  256922   77.040001   21505
40  1993  114.099998  260282   76.257004   21515
41  1994  116.199997  263455   76.613998   21797
42  1995  120.199997  266588   77.825996   22100
43  1996  130.399994  269714   82.596001   22506
44  1997  134.399994  272958   82.579002   22944
45  1998  122.400002  276154   71.874001   24079
46  1999  137.899994  279328   78.207001   24464
47  2000  175.699997  282429  100.000000   25380
48  2001  171.600006  285366   96.289001   25449
49  2002  163.399994  288217   90.404999   26352
50  2003  191.300003  291073  105.153999   26437
51  2004  224.500000  293951  123.901001   27113

In [101]:
data_03.set_index('Year')

         Gas Exp     Pop        Gasp  Income
Year
1953    7.400000  159565   16.667999    8883
1954    7.800000  162391   17.028999    8685
1955    8.600000  165275   17.209999    9137
1956    9.400000  168221   17.729000    9436
1957   10.200000  171274   18.497000    9534
1958   10.600000  174141   18.316000    9343
1959   11.300000  177130   18.576000    9738
1960   12.000000  180760   19.112000    9770
1961   12.000000  183742   18.924000    9843
1962   12.600000  186590   19.042999   10226
1963   13.000000  189300   18.997000   10398
1964   13.600000  191927   18.872999   11051
1965   14.800000  194347   19.587000   11430
1966   16.000000  196599   20.038000   11981
1967   17.100000  198752   20.700001   12418
1968   18.600000  200745   21.004999   12932
1969   20.500000  202736   21.695999   13060
1970   21.900000  205089   21.889999   13567
1971   23.200001  207692   22.049999   14008
1972   24.400000  209924   22.336000   14270
1973   28.100000  211939   24.473000   15309
1974   36.099998  213898   33.058998   15074
1975   39.700001  215981   35.278000   15555
1976   43.000000  218086   36.777000   15693
1977   46.900002  220289   38.907001   15991
1978   50.099998  222629   40.597000   16674
1979   66.199997  225106   54.405998   16843
1980   86.699997  227726   75.509003   16711
1981   97.900002  230008   84.017998   17046
1982   94.099998  232218   79.767998   17429
1983   93.099998  234333   77.160004   17659
1984   94.599998  236394   76.004997   18922
1985   97.199997  238506   76.619003   19622
1986   80.099998  240683   60.174999   19944
1987   85.400002  242843   62.487999   19802
1988   88.300003  245061   63.016998   20682
1989   98.599998  247387   68.836998   21048
1990  111.199997  250181   78.385002   21379
1991  108.500000  253530   77.337997   21129
1992  112.400002  256922   77.040001   21505
1993  114.099998  260282   76.257004   21515
1994  116.199997  263455   76.613998   21797
1995  120.199997  266588   77.825996   22100
1996  130.399994  269714   82.596001   22506
1997  134.399994  272958   82.579002   22944
1998  122.400002  276154   71.874001   24079
1999  137.899994  279328   78.207001   24464
2000  175.699997  282429  100.000000   25380
2001  171.600006  285366   96.289001   25449
2002  163.399994  288217   90.404999   26352
2003  191.300003  291073  105.153999   26437
2004  224.500000  293951  123.901001   27113