<font size = 5><b><u> Python & SQL 2 : </b></u><font>

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
connection = sqlite3.connect("MyDataBaseTest.db")

In [3]:
cursor = connection.cursor()

In [4]:
#INTEGER (Integer)
#REAL (Float)
#TEXT (Strings)
#BLOBS (Binaly large objects)
#NULL (Empty)

In [5]:
cursor.execute("CREATE TABLE sp500(isin TEXT, ticker TEXT, last_close REAL)")

In [6]:
connection.commit()

In [7]:
cursor.execute("INSERT INTO sp500 VALUES('US005507V1098', 'ATVI', 82.63)")

In [8]:
connection.commit()

In [9]:
cursor.execute("INSERT INTO sp500 VALUES('US30303M1027', 'FB', 359.37)")

In [10]:
connection.commit()

In [11]:
isin = "US00206R1023"
ticker = "T"
last_close = 27.57

In [12]:
cursor.execute("INSERT INTO sp500 VALUES(?,?,?)", (isin, ticker, last_close))

In [13]:
connection.commit()

In [14]:
cursor.execute("SELECT * FROM sp500")

In [15]:
my_query_1 = cursor.fetchone()

In [16]:
my_query_2 = cursor.fetchone()

In [17]:
my_query_3 = cursor.fetchone()

In [18]:
my_query = [my_query_1, my_query_2, my_query_3]

In [19]:
arr_init = np.zeros((len(my_query), len(my_query[0])))

In [20]:
df_res_1 = pd.DataFrame(arr_init)

In [21]:
df_res_1

     0    1    2
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0

In [22]:
df_res_1.columns = ("isin", "ticker", "last_close")

In [25]:
i = 0
for col in df_res_1.columns:
    j = 0
    for lg in df_res_1.index:
        df_res_1.loc[lg, col] = my_query[j][i]
        j += 1
    i += 1

In [26]:
df_res_1

            isin ticker  last_close
0  US005507V1098   ATVI       82.63
1   US30303M1027     FB      359.37
2   US00206R1023      T       27.57

In [27]:
df_univers_gc = pd.read_csv("/Users/moaderrafay/Documents/Divers/Career/My python journey/Scoring/Univers GC (VALEURS).csv", sep = ";")

In [28]:
df_univers_gc = df_univers_gc.dropna(how = "all")

In [29]:
df_univers_gc = df_univers_gc.iloc[0:,:8]

In [30]:
df_univers_gc.drop(["Capitalisation (LC Mds)"], axis = 1, inplace = True)

In [31]:
df_univers_gc

,Nom,ISIN,Ticker,Devise,Pays,Secteur,Industrie
0,ABB LTD-REG,CH0012221716,ABBN SW EQUITY,CHF,SWITZERLAND,Industrie,Biens d'investissement
1,ABBVIE INC,US00287Y1091,ABBV US EQUITY,USD,UNITED STATES,Soins de santé,"Sciences pharmaceutiques, biot"
2,ABN AMRO BANK-CV,NL0011540547,ABN NA EQUITY,EUR,NETHERLANDS,Finance,Banques
3,ACCENTURE PLC-A,IE00B4BNMY34,ACN US EQUITY,USD,IRELAND,Technologies de l'information,Logiciels et services
4,ACCOR SA,FR0000120404,AC FP EQUITY,EUR,FRANCE,Consommation discrétionnaire,Services consommateurs
...,...,...,...,...,...,...,...
556,EQT AB,SE0012853455,EQT SS EQUITY,SEK,SWEDEN,Finance,Services financiers diversifi
557,HAPAG-LLOYD AG,DE000HLAG475,HLAG GR EQUITY,EUR,GERMANY,Industrie,Transport
558,COLOPLAST-B,DK0060448595,COLOB DC EQUITY,DKK,DENMARK,Soins de santé,Equipement et services de sant
559,DELIVERY HERO SE,DE000A2E4K43,DHER GR EQUITY,EUR,GERMANY,Consommation discrétionnaire,Vente au détail
560,ASHTEAD GROUP,GB0000536739,AHT LN EQUITY,GBp,BRITAIN,Industrie,Biens d'investissement

In [32]:
col_list = list(df_univers_gc)
col_list[0], col_list[1], col_list[2] = col_list[1], col_list[2], col_list[0]
df_univers_gc = df_univers_gc.reindex(columns = col_list)

In [33]:
df_univers_gc

,ISIN,Ticker,Nom,Devise,Pays,Secteur,Industrie
0,CH0012221716,ABBN SW EQUITY,ABB LTD-REG,CHF,SWITZERLAND,Industrie,Biens d'investissement
1,US00287Y1091,ABBV US EQUITY,ABBVIE INC,USD,UNITED STATES,Soins de santé,"Sciences pharmaceutiques, biot"
2,NL0011540547,ABN NA EQUITY,ABN AMRO BANK-CV,EUR,NETHERLANDS,Finance,Banques
3,IE00B4BNMY34,ACN US EQUITY,ACCENTURE PLC-A,USD,IRELAND,Technologies de l'information,Logiciels et services
4,FR0000120404,AC FP EQUITY,ACCOR SA,EUR,FRANCE,Consommation discrétionnaire,Services consommateurs
...,...,...,...,...,...,...,...
556,SE0012853455,EQT SS EQUITY,EQT AB,SEK,SWEDEN,Finance,Services financiers diversifi
557,DE000HLAG475,HLAG GR EQUITY,HAPAG-LLOYD AG,EUR,GERMANY,Industrie,Transport
558,DK0060448595,COLOB DC EQUITY,COLOPLAST-B,DKK,DENMARK,Soins de santé,Equipement et services de sant
559,DE000A2E4K43,DHER GR EQUITY,DELIVERY HERO SE,EUR,GERMANY,Consommation discrétionnaire,Vente au détail
560,GB0000536739,AHT LN EQUITY,ASHTEAD GROUP,GBp,BRITAIN,Industrie,Biens d'investissement

In [34]:
cursor.execute("CREATE TABLE universgc(isin TEXT, ticker TEXT, nom TEXT, devise TEXT, pays TEXT, secteur TEXT, industrie TEXT)")

In [35]:
connection.commit()

In [36]:
for lg in df_univers_gc.index:
    isin = df_univers_gc["ISIN"][lg]
    ticker = df_univers_gc["Ticker"][lg]
    nom = df_univers_gc["Nom"][lg]
    devise = df_univers_gc["Devise"][lg]
    pays = df_univers_gc["Pays"][lg]
    secteur = df_univers_gc["Secteur"][lg]
    industrie = df_univers_gc["Industrie"][lg]
    cursor.execute("INSERT INTO universgc VALUES (?,?,?,?,?,?,?)", (isin, ticker, nom, devise, pays, secteur, industrie))

In [37]:
connection.commit()

In [38]:
cursor.execute("SELECT * FROM universgc")

In [39]:
df_res_2 = pd.DataFrame(cursor.fetchall())

In [40]:
df_res_2.columns = ["isin", "ticker", "nom", "devise", "pays", "secteur", "industrie"]

In [41]:
df_res_2

,isin,ticker,nom,devise,pays,secteur,industrie
0,CH0012221716,ABBN SW EQUITY,ABB LTD-REG,CHF,SWITZERLAND,Industrie,Biens d'investissement
1,US00287Y1091,ABBV US EQUITY,ABBVIE INC,USD,UNITED STATES,Soins de santé,"Sciences pharmaceutiques, biot"
2,NL0011540547,ABN NA EQUITY,ABN AMRO BANK-CV,EUR,NETHERLANDS,Finance,Banques
3,IE00B4BNMY34,ACN US EQUITY,ACCENTURE PLC-A,USD,IRELAND,Technologies de l'information,Logiciels et services
4,FR0000120404,AC FP EQUITY,ACCOR SA,EUR,FRANCE,Consommation discrétionnaire,Services consommateurs
...,...,...,...,...,...,...,...
556,SE0012853455,EQT SS EQUITY,EQT AB,SEK,SWEDEN,Finance,Services financiers diversifi
557,DE000HLAG475,HLAG GR EQUITY,HAPAG-LLOYD AG,EUR,GERMANY,Industrie,Transport
558,DK0060448595,COLOB DC EQUITY,COLOPLAST-B,DKK,DENMARK,Soins de santé,Equipement et services de sant
559,DE000A2E4K43,DHER GR EQUITY,DELIVERY HERO SE,EUR,GERMANY,Consommation discrétionnaire,Vente au détail
560,GB0000536739,AHT LN EQUITY,ASHTEAD GROUP,GBp,BRITAIN,Industrie,Biens d'investissement

In [42]:
connection.close()