<font size = 5><b><u> Python & SQL 1 : </u><b><font>

In [ ]:
import sqlite3

In [ ]:
connection = sqlite3.connect('MyDataBase.db')

In [ ]:
cursor = connection.cursor()

In [ ]:
#SQLITE Datatypes

#INTEGER
#REAL
#TEXT
#BLOBS
#NULL

In [ ]:
cursor.execute("CREATE TABLE stocks (ticker TEXT, isin TEXT, name TEXT, close REAL)")

In [ ]:
connection.commit()

In [ ]:
ticker, isin, name, last = "AAPL US EQUITY", "US0378331005", "APPLE Inc.", 146.09

In [ ]:
cursor.execute("INSERT INTO stocks VALUES(?, ?,  ?, ?)", (ticker, isin, name, last))

In [ ]:
connection.commit()

In [ ]:
cursor.execute("SELECT * FROM stocks")

In [ ]:
connection.commit()

In [ ]:
MyTable = cursor.fetchall()

In [ ]:
MyTable

In [ ]:
#cursor.execute("UPDATE stocks SET ticker = 'MSFT US EQUITY', isin = 'US5949181045', name = 'MICROSOFT Inc.', last = 288.33 WHERE ticker ='AAPL US EQUITY' = 1")

In [ ]:
connection.commit()

In [ ]:
MyTable = cursor.fetchall()

In [ ]:
MyTable

In [ ]:
connection.close()